.selected__movie--section {
    background-color: #F0EFEF;
    padding: 70px;
}
.movie__selected {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.movie__selected--poster {
  width: 400px;
}

.movie__selected--description {
  flex: 1;
}
.movie__selected--description {
    margin-top: 0;
}
.recommended__movies--list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

@media (max-width: 768px) {
  .recommended__movies--list {
    grid-template-columns: repeat(2, 1fr);
  }
  .movie__selected {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .recommended__movies--list {
    flex-direction: column;
    align-items: center;
  }
  .selected__movie--section {
    flex-direction: column;
    align-items: center;
  }
}