.footer {
  background-color: #242424;
}
.footer__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.footer__logo {
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}
.footer__link,
.footer__copyright {
  color: #FFB900;
}
.footer__list {
  margin: 20px 0 24px 0;
  text-align: center;
}
.footer__link {
  padding: 0 8px;
}
.footer__copyright {
    text-align: center;
}