.nav__links {
  list-style: none;
  padding: 0;
  text-align: right;
}
.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
