.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav__links {
    list-style: none;
    padding: 0;
    text-align: right;
    display: flex;
}
.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #0E3FA9;
    font-weight: bold;
    padding: 8px;
}
.nav__link:hover {
    text-decoration: underline;
}
.nav__link--primary {
    color: #0E3FA9;
    border: 2px solid #0E3FA9;
    border-radius: 4px;
    background-color: #FFB900;
    text-decoration: none;
}